body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0%;
}
h1{
    font-size: 35px;
    font-family: poppins;
    margin-left: 8%;
    font-weight: 1200;

   
}
.name-highlight{
    color: rgb(211, 71, 29);
}
img{
    width: 350px;
    
    margin-right: 0%;
    padding-right: 0%;

}
.width-half{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.second{
   max-width: 40%;
    margin-left:50px;
   
    float:left;
    
}
.second2{
    width: 40%;
    float:right;
}